# Auto install peer dependencies
auto-install-peers=true

# Strict peer dependencies
strict-peer-dependencies=false

# Shamefully hoist (makes packages available)
shamefully-hoist=true

# Ignore scripts that fail (like husky)
ignore-scripts=false

# Use node-linker
node-linker=hoisted